[submodule "tmux-sessionizer"]
	path = tmux-sessionizer
	url = https://github.com/thenameiswiiwin/tmux-sessionizer.git
[submodule "env/.config/nvim"]
	path = env/.config/nvim
	url = https://github.com/thenameiswiiwin/nvim.git
[submodule "docker-dev-env"]
	path = docker-dev-env
	url = https://github.com/thenameiswiiwin/docker-dev-env.git
